<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- to proxy live Azure storage through Fiddler, uncomment the system.net section below and change the AzureConnectionString DefaultEndpointsProtocol to http-->
  <system.net>
    <!--<defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy usesystemdefault="True"/>
    </defaultProxy>-->
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
  <appSettings>
    <!-- for debugging: "UseDevelopmentStorage=true;DevelopmentStorageProxyUri=http://ipv4.fiddler" -->
    <!--<add key="AzureConnectionString" value="UseDevelopmentStorage=true"/>-->
    <add key="AzureConnectionString" value="DefaultEndpointsProtocol=https;AccountName=plcentralbuildtests;AccountKey=mGKwc0h9uThAVX7B+d96W/WxykM9GkE9AB82pia+luvA6txPBvbKceyxCOojqGZ0mrQRsDR7hKqkkhmZwn7ANQ=="/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>